body {
	box-sizing: border-box;

}

.wrapper {
	padding: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

h1 {
	margin-top: 2rem;
	font-family 'Indie Flower', cursive;
}

img {
	max-width: 100%;
	border: 2px solid black;
	}

figure {
	border: 1px solid gray;
	padding: 3%;
}

